<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sales.darksheet">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_1_sem_fundo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_1_sem_fundo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DarkSheet"
        android:usesCleartextTraffic="true">
        <activity android:name=".ExitActivity" />
        <activity android:name=".ui.login.CodeValidationActivity" />
        <activity
            android:name=".ui.login.NewUserActivity"
            android:label="@string/title_activity_new_user"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.DarkSheet.NoActionBar" />
        <activity
            android:name=".StartApp"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Permitir conexões sem criptografia (inseguras) -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".LoadActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ui.chats.ChatActivity"
            android:label="@string/title_chats"
            android:screenOrientation="nosensor" />

        <!-- service para dispositivos com android 8 ou superior -->
        <service
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false"
            android:label="DarkSheet notification service"
            android:name="com.sales.darksheet.service.MyJobIntentService">
        </service>

        <!-- service para dispositivos com android inferior ou 8 -->
        <service
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false"
            android:label="DarkSheet notification service"
            android:name="com.sales.darksheet.service.NotificationService">
        </service>

        <receiver android:name=".service.MyBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>